In [3]:
import alpha_vantage as alpha
import numpy as np
import pandas as pd

In [9]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='YOUR_API_KEY', output_format='pandas')
# Get json object with the intraday data and another with  the call's metadata
data, meta_data = ts.get_intraday('GOOGL')

In [11]:
data

                       1. open    2. high     3. low   4. close  5. volume
date
2019-11-05 16:00:00  1292.2700  1293.1400  1291.2100  1291.4600   102667.0
2019-11-05 15:45:00  1293.0100  1293.2200  1292.1100  1292.2200    52799.0
2019-11-05 15:30:00  1294.4600  1294.5601  1293.1300  1293.1300    25316.0
2019-11-05 15:15:00  1293.8400  1294.5200  1293.2100  1294.4600    34912.0
2019-11-05 15:00:00  1293.8300  1294.3500  1293.6000  1293.6900    12393.0
...                        ...        ...        ...        ...        ...
2019-10-31 11:45:00  1254.7550  1255.5300  1253.7000  1255.3250    22706.0
2019-10-31 11:30:00  1257.0100  1257.2300  1254.3101  1254.6500    17447.0
2019-10-31 11:15:00  1258.1899  1258.2500  1256.4100  1256.5350    30573.0
2019-10-31 11:00:00  1254.6600  1258.0800  1254.6100  1258.0800    32395.0
2019-10-31 10:45:00  1253.7473  1255.1100  1251.0200  1254.1424    40269.0

[100 rows x 5 columns]

In [16]:
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint
ts = TimeSeries(key='YOUR_API_KEY', output_format='pandas')
data, meta_data = ts.get_intraday(symbol='MSFT',interval='1min', outputsize='full')
pprint(data.head())

                     1. open  2. high  3. low  4. close  5. volume
date
2019-11-05 16:00:00  144.520   144.61  144.41   144.460   363390.0
2019-11-05 15:59:00  144.555   144.59  144.51   144.515   146142.0
2019-11-05 15:58:00  144.585   144.60  144.54   144.555   106317.0
2019-11-05 15:57:00  144.590   144.61  144.56   144.580    80633.0
2019-11-05 15:56:00  144.645   144.66  144.53   144.590   136393.0